block head
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(name='description' content='' + description + '')
		meta(name='keywords' content='' + keywords + '')
		meta(name='author', content='' + author.name + ', ' + author.location + ', Phone: ' + author.phone + ', Email: ' + author.email + ', Telegram: ' + author.telegram + ', Skype: ' + author.skype + '')
		meta(name='revisit-after' content='' + revisit + '')

		include favicon
		
		title= name

		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		link(href='../node_modules/normalize.css/normalize.css' rel='stylesheet')
		link(href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css', rel='stylesheet')
		link(href='/' + cssDist + 'bundle.css' rel='stylesheet')
		
		script(src='http://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js')
		script(src='/' + jsDist + 'bundle.js')
